
<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="mb-2">
      <%= f.input :name, placeholder: "Service name" %>
    </div>
    <div class="mb-2">
      <%= f.input :description, as: :trix_editor, placeholder: "Description" %>
    </div>
    <div class="mb-2">
      <%= f.input :capacity, label: "Capacity (Minutes)", placeholder: "Service capacity(Minutes)" %>
    </div>
    <div class="mb-2">
      <%= f.input :price,placeholder: "Price" %>
    </div>
    <div class="mb-2">
      <%= f.input :usage_reminder, label: "Remind When Usage (Minutes)", placeholder: "Remind When Usage (Minutes)" %>
    </div>
    <%= f.association :user, as: :hidden  %>
  </div>

  <div class="form-actions">
    <%= button_tag( :class => "btn btn-primary") do %>
			<i class="far fa-save"></i> Save
		<% end %>
    
    <%= link_to services_path, :class=>"btn btn-dark" do %>
      <i class="fas fa-arrow-circle-left"></i> Back
    <% end %>
  </div>
<% end %>