<% if current_user && current_user.role=="Admin" %>
  <%= render "shared/nav_admin" %>
<% else %>
  <%= render "shared/nav_public" %>
<% end %>

<div class="container-fluid mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-12">
      <p class="h6 mt-4">List of Services</h1>
      <table class="table">
        <thead>
          <tr>
            <th>QR Code</th>
            <th>Service Name</th>
            <th>Capacity (Minutes)</th>
            <th>Current usage (Minutes)</th>
            <th colspan="3">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @services.each do |service| %>
            <tr>
              <td><%= image_tag(service.qr_code) if service.qr_code.attached? %></td>
              <td><%= service.name %></td>
              <td><%= service.capacity %></td>
              <td><%= service.current_usage %></td>
              <td>
                <%= link_to service, :class=>"btn btn-primary" do %>
                  <i class="far fa-eye me-1"></i>Show
                <% end %>
                <%= link_to edit_service_path(service), :class=>"btn btn-info" do %>
                  <i class="far fa-edit me-1"></i>Edit
                <% end %>
                <%= link_to service, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" do %>
                  <i class="far fa-trash-alt me-1"></i>Remove
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <%= link_to new_service_path, :class=>"btn btn-primary" do %>
    <i class="fas fa-arrow-circle-right"></i> Add New Service
  <% end %>

  <%= link_to root_path, :class=>"btn btn-dark" do %>
    <i class="fas fa-arrow-circle-left"></i> Back
  <% end %>
</div>
