<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-12">
      <div class="card my-2">
        <div class="card-header">
          <%= link_to services_path, :class=>"btn btn-secondary btn-sm" do %>
            <i class="far fa-arrow-alt-circle-left"></i>
          <% end %>
          <%= @service.name %>
        </div>
        <div class="card-body">
          <small class="text-muted">
            <i class="far fa-calendar-alt"></i> Service created at <%= @service.created_at.strftime("%B, %d, %Y")%>
            
            <% if current_user && current_user.role=="Admin" %>
              <br>
              <i class="fas fa-filter"></i> Service Capacity: <%= @service.capacity %> Minutes<br>
              

              <% if @service.qr_code.attached? %>
                <div class="text-center">
                  <%= image_tag(@service.qr_code, :size=>"200x200") %>
                </div>
              <% end %>
            <% end %>
            <i class="fas fa-chart-pie"></i> Current Usage: <span class="badge bg-success"><%= @service.current_usage %></span> Minutes<br>
            
            <div>
              <p class="lead"><%= sanitize @service.description %></p>
            </div>
          </small>
          <br>
        </div>
      </div>
      <% if current_user && current_user.role=="Admin" %>
        <div class="mt-2">
          <%= link_to "Back", services_path, :class=>"btn btn-primary"%>
          <%= link_to "Edit", edit_service_path, :class=>"btn btn-warning"%>
          <%= link_to "Add New", new_service_path, :class=>"btn btn-info"%>
          <%= link_to "Delete", service_path, method: :delete, data:{confirm: "Are you sure?"}, :class=>"btn btn-danger"%>
        </div>
      <% end %>
    </div>
    <%= render "taps/form" %>
  </div>
</div>