<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-12">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="card p-3">
          <div class="card-body">
            <div class="text-center">
          <h1 class="h3 mb-3 fw-normal mt-4">Sign up</h1>
        </div>

        <div class="form-input">
          <%= f.input :name,
                      placeholder: "Name",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" }%>
        </div>

        <div class="form-input mt-2">
          <%= f.input :email,
                      placeholder: "Email address",
                      required: true,
                      input_html: { autocomplete: "email" }%>
        </div>

        <div class="form-input mt-2">
          <%= f.input :contact,
                      placeholder: "Contact number",
                      required: true,
                      input_html: { autocomplete: "contact" }%>
        </div>

        <div class="form-input mt-2">
          <%= f.input :address,
                      placeholder: "Your address",
                      required: true,
                      input_html: { autocomplete: "address" }%>
        </div>
        <div class="form-input my-2">
          <%= f.input :password,
                placeholder: "Account password",
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-input my-2">
            <%= f.input :password_confirmation,
                label: "Confirm password",
                placeholder: "Re-type password",
                required: true,
                input_html: { autocomplete: "new-password" } %>
        </div>

        <%= f.button :submit, "Sign up", :class=>"w-100 btn btn-lg btn-primary" %>
        <div class="text-center mt-2">
          <small class="mt-5 mb-3 text-muted">
            <%- if controller_name != 'sessions' %>
              <%= link_to "Log in", new_session_path(resource_name),:class=>"btn btn-outline-primary col-12" %><br />
            <% end %>
          </small>
        </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
