<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <%= image_tag("aurora-logo.png", :size=>"40x32")%>
    <span class="fs-4">Aurora</span>
  </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <%= link_to "Home", root_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to "Booking Service", new_booking_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to "My Bookings", bookings_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to "RAM Form", new_ram_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to "Update Account", edit_user_registration_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class=>"me-3 py-2 text-dark text-decoration-none"%>
  </nav>
</div>
</header>