<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <%= image_tag("aurora-logo.png", :size=>"40x32")%>
    <span class="fs-4">Aurora</span>
  </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <%= link_to "Home", root_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to "Booking Service", bookings_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to "RAM Form", rams_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to "Login", new_user_session_path, :class=>"btn btn-outline-primary me-1"%>
      <%= link_to "Sign Up", new_user_registration_path, :class=>"btn btn-primary"%>
  </nav>
</div>
</header>