<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <%= image_tag("p80.png", :size=>"60x50")%>
  </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <%= link_to "Home", root_path, :class=>"me-3 py-2 text-dark text-decoration-none"%>
      <%= link_to services_path, :class=>"me-3 py-2 text-dark text-decoration-none" do %>
        Services (<%= Service.all.count %>)
      <% end%>
      <%= link_to bookings_path, :class=>"me-3 py-2 text-dark text-decoration-none" do %>
        Bookings (<%= Booking.all.count %>)
      <% end %>
      <%= link_to rams_path, :class=>"me-3 py-2 text-dark text-decoration-none" do %>
        RAMs Form (<%= Ram.all.count %>)
      <% end %>
      <%= link_to edit_user_registration_path, :class=>"btn btn-outline-primary me-1" do %>
        Update Account
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, :class=>"btn btn-primary" do %>
        Sign Out
      <% end %>
  </nav>
</div>
</header>