<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-5">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="text-center">
          <%= image_tag("aurora.png", :class=>"img-fluid", :size=>"160x160")%>
          <h1 class="h3 mb-3 fw-normal mt-4">Sign in</h1>
        </div>

        <div class="form-input">
          <%= f.input :email,
                placeholder: "name@example.com",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", id: "floatingInput" } %>
        </div>
        <div class="form-input my-2">
          <%= f.input :password,
                placeholder: "Password",
                required: false,
                input_html: { autocomplete: "current-password", id: "floatingPassword" } %>
        </div>

        <%= f.button :submit, "Log in", :class=>"w-100 btn btn-lg btn-primary" %>
        <div class="text-center mt-4">
          <small class="mt-5 mb-3 text-muted">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name) %><br />
            <% end %>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end %>

            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
            <% end %>

            <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
              <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
            <% end %>
          </small>
        </div>
      <% end %>
    </div>
  </div>
</div>
