<div class="container-fluid">
  <div class="row justify-content-center align-items-center mt-18vh">
    <div class="col-lg-6 col-sm-12">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card p-3">
          <div class="card-body">
          <div class="text-center">
          <%= image_tag("aurora-logo.png", :class=>"img-fluid")%>
          <h1 class="h3 mb-3 fw-normal mt-4">Sign in</h1>
        </div>

        <div class="form-input">
          <%= f.input :email,
                placeholder: "name@example.com",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", id: "floatingInput" } %>
        </div>
        <div class="form-input my-2">
          <%= f.input :password,
                placeholder: "Password",
                required: false,
                input_html: { autocomplete: "current-password", id: "floatingPassword" } %>
        </div>

        <%= f.button :submit, "Log in", :class=>"w-100 btn btn-lg btn-primary" %>
        <div class="text-center mt-2">
          <small class="mt-5 mb-3 text-muted">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name),:class=>"btn btn-outline-primary col-12" %><br />
            <% end %>
          </small>
        </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
